
@import "apps/keep/pages/keep-app.cmp.css";
@import "apps/mail/pages/email-app.cmp.css";
@import "./long-text.cmp.css";
@import "./user-msg.cmp.css";

*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, html {
    margin: 0;
    height: 100%;
    /* position: relative; */
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* HEADER */

.app-header{
    background-color: rgb(9, 102, 156);
    padding: 10px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER */

.app-footer {
    background-color: rgb(9, 102, 156);
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/* HOMEPAGE */

.home-page {
    background-image: url('../img/appsus.jpg');
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.about {
    background-image: url('../img/appsus.jpg');
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}