@import "apps/keep/pages/keep-app.cmp.css";
@import "apps/mail/pages/email-app.cmp.css";
@import "./long-text.cmp.css";
@import "./user-msg.cmp.css";
* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, html {
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* HEADER */

.app-header {
    background-color: rgb(47, 161, 226);
    padding: 10px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER */

.app-footer {
    background-color: rgb(47, 161, 226);
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/* HOMEPAGE */

.home-page {
    background-image: url('../img/appsus.jpg');
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.home-text {
    padding-top: 100px;
    font-size: 3rem;
    color: rgb(55, 78, 152)
}
.about {
    background-image: url('../img/pencils.jpg');
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-text {
    max-width: 800px;
    margin: auto;
    padding-top: 220px;
    font-size: 2rem;
    text-align: center;
}

.about-text h1 {
    text-align: center;
}

.keep-app {
    background-image: url('../img/notes.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      text-align: center;
      margin: auto;
      height: 95vh;
    }

    .email-app {
        background-color: lightyellow;
          height: 95vh;
        }
/* view-port Large screen */

@media only screen and (max-width: 750px) {
    /* .main-header .main-nav {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        background-color: #FF7F00;
        width: 140px;
        transform: translateX(100%);
        box-shadow: none;
        transition: transform .8s, box-shadow .8s;
    } */
    /* .main-nav .nav-btn {
        width: 100%;
        height: 60px;
        border-right: none;
        border-left: none;
        color: #ffffffe0;
        box-shadow: #040A2C 0px -1px inset;
    } */
    /* .nav-btn:hover {
        color: #040A2C;
        box-shadow: #040A2C 5px -1px inset;
    } */
    .main-screen {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 30%);
        transition: opacity 0.8s;
        cursor: pointer;
    }


}