@import "../pages/email-details.cmp.css";
@import "../pages/email-compose.cmp.css";
@import "../cmps/email-filter.cmp.css";
@import "../cmps/email-list.cmp.css";
@import "../cmps/email-preview.cmp.css";
@import "../cmps/email-status.cmp.css";
@import "../cmps/email-nav-cmp.css";

.email-main-content {
    display: flex;
    margin-right: 40px;
    margin-top: 20px;
}