@import "../pages/email-details.cmp.css";
@import "../cmps/email-compose.cmp.css";
@import "../cmps/email-filter.cmp.css";
@import "../cmps/email-list.cmp.css";
@import "../cmps/email-preview.cmp.css";
@import "../cmps/email-status.cmp.css";

.email-app {
    display: flex;
    justify-content: space-between;
}

.email-nav {
    display: flex;
    flex-direction: column;
}

.email-compose-btn {
    padding: 20px;
}

.email-nav-btn {
    padding: 10px;
}

.email-main-content {
    margin-right: 100px;
    margin-top: 20px ;
}
