.email-preview {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    /* padding: 5px; */
}

.unread {
    font-weight: bold;
    padding: 10px;
}
