.email-filter {
    text-align: center;
    margin-top: 20px;
}

.input-btn {
    height: 40px;
    width: 250px;
    border-radius: 8px;
    margin-right: 10px;
    border: 1px solid lightgray;
    font-size: 1.08rem;
}

.filter-btn {
    height: 40px;
    border-radius: 8px;
    border: 1px solid lightgray;
    color: lightslategray;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.08rem;
}

.sort-btn {
    height: 40px;
    border-radius: 8px;
    border: 1px solid lightgray;
    color: lightslategray;
    margin-right: 150px;
    cursor: pointer;
    font-size: 1.08rem;
}

.email-filter span{
    height: 50px;
    color: lightslategray;
    font-size: 1.5rem;
}