.email-preview{
    height: 60px;
    width: 400px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.unread{
    font-weight: bold;
    padding: 10px;
}