.keep-list {
list-style: none;
margin: auto;
}

.grid {
display: grid;
grid-template-columns: repeat(3, 400px);
grid-template-rows: auto;
gap: 20px;
justify-content: center;
}

/* .note-preview-container {
    margin: auto;
} */

.note-container {
    position: relative;
    width: 360px;
    height: 270px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    border-radius: 4px;
    background-color: lightyellow;
    text-align: center;
}

.remove-btn {
    position: absolute;
    bottom: 0;
    right: 0;    
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;      
}