@import "../pages/keep-compose.cmp.css";
@import "../cmps/keep-filter.cmp.css";
@import "../cmps/keep-list.cmp.css";
@import "../cmps/keep-preview.cmp.css";
@import "../pages/keep-details.cmp.css";
@import "../cmps/keep-img.cmp.css";
@import "../cmps/keep-txt.cmp.css";



.keep-app {
  background-image: url('../img/notes.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    text-align: center;
    margin: auto;
  }