.keep-input {
    height: 40px;
    width: 250px;
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid lightgray;
    font-size: 1.08rem;
}

.compose-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 33px;
    width: 33px;
    font-size: 1rem;
}

.far.fa-image {
    font-size: 1.6rem;
}

.fab.fa-youtube {
    font-size: 1.6rem;
}

.fas.fa-volume-up {
    font-size: 1.5rem;
}

.btn-container {
    margin: auto;
}

.far {
    font-size: 1.5em;
}