.keep-input {
    height: 40px;
    width: 250px;
    border-radius: 8px;
    /* margin-right: 10px; */
    margin-top: 10px;
    border: 1px solid lightgray;
    font-size: 1.08rem;
}

.compose-btn {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height: 33px;
    width: 33px;
}

.btn-container {
    /* border: 1px solid lightgrey; */
    margin: auto;
}
/* .keep-compose {
    margin-left: 400px;
    margin-top: 100px;
    padding: 50px;
} */

.far {
    font-size: 1.5em;
}